<div>
    <div id="header">

        <nav class="navbar navbar-inverse navbar-fixed-top">
                <a ng-href="https://www.sarvatech.co.in/" target="_blank" class="stech2-logo dashboard-logo-inverse"></a>
                <a ng-href="#/" class="dashboard2-logo dashboard-logo-inverse"></a>

                <!-- <a style="display:inline-block;margin-left:20px; text-align:left; font-size:1.5rem" href="https://www.sarvatech.co.in/">
                    - Powered by SarvaTech -
                </a> -->
                <div title="{{::ctrl.dashboard.title }}">{{::ctrl.dashboard.title | trunText:50}}</div>
        </nav>

        <div class="clear"></div>
    </div>

    <div class="dashboard-widgets container-fluid" widget-container dashboard="ctrl.dashboard">
        <div class="row">
            <div class="col-xs-12">
                <widget name="product" header="false"></widget>
            </div>
        </div>
    </div>

</div>